<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>Online Sop</title>
</head>
<body class="category">
<div class="total">
    <div class="header">
        <div class="logo">
            <h2>Adrian99 ONLINE SHOP</h2>
        </div>
        <div class="buttons">
            <a href="">Laptop</a>
            <a href="">Smartphone</a>
            <a href="">Video card</a>
            <a href="">TV</a>
        </div>
    </div>
    <div class="content">
        <div class="filters"></div>
        <div class="products"></div>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>